
/.obsidian/app.json
/.obsidian/appearance.json
/.obsidian/community-plugins.json
/.obsidian/core-plugins.json
/.obsidian/.obsidian
/.DS_Store
/.github/.DS_Store
/themes/.DS_Store
/.obsidian/workspace.json