{{ define "main" }}

<article>
  <h1>{{ .Title }}</h1>
 <span class="post-meta">
  {{ .Date.Format "2 de January de 2006" }}
  {{ with .Params.local }}· {{ . }}{{ end }}
  {{ with .Params.tags }}· {{ range $i, $t := . }}{{ if $i }}, {{ end }}{{ $t }}{{ end }}{{ end }}
</span>

  {{ with .Params.epigrafe }}
  <div class="epigraph">
    {{ .texto | markdownify }}
    {{ with .autor }}<cite>{{ . }}</cite>{{ end }}
  </div>
  {{ end }}

  <div class="content">
    {{ .Content }}
  </div>

  {{ with .Params.tags }}
  <div class="tags">
    {{ range . }}
    <a href="{{ (urlize (printf "tags/%s" .)) | relURL }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}

  <div class="post-disclaimer">
    © {{ now.Year }} {{ .Site.Params.author }}. Todos os direitos reservados. A reprodução total ou parcial deste conteúdo sem autorização prévia e citação da fonte é proibida.
  </div>
</article>

{{ end }}