{{ define "main" }}

{{ .Content }}

<h2>Recentes</h2>

<ul class="post-list">
  {{ range (where .Site.RegularPages "Section" "!=" "").ByDate.Reverse | first 10 }}
  <li>
    <a href="{{ .RelPermalink }}" class="post-link">{{ .Title }}</a>
    <time>{{ .Date.Format "2 de January de 2006" }} · {{ .Section }}</time>
    {{ if .Params.summary }}
    <p class="summary">{{ .Params.summary }}</p>
    {{ else if .Summary }}
    <p class="summary">{{ .Summary }}</p>
    {{ end }}
  </li>
  {{ end }}
</ul>

{{ end }}
